NODE_ENV=development
DB_CLIENT=sqlite
DATABASE_URL=
JWT_SECRET=troque-esta-chave-por-uma-string-forte
ALLOW_SQLITE_IN_PRODUCTION=false
ALLOW_LOCAL_FILE_UPLOADS=true
PGSSL=true

SMTP_HOST=smtp.seu-provedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seu-email@dominio.com
SMTP_PASS=sua-senha-ou-app-password
MAIL_FROM=Portal de Cursos <seu-email@dominio.com>

APP_BASE_URL=http://localhost:3000
PIX_KEY=sua-chave-pix
PIX_BENEFICIARY=Seu Nome ou Empresa
PIX_COPY_PASTE_CODE=seu-codigo-pix-copia-e-cola
PIX_QR_CODE_IMAGE_URL=https://seu-dominio.com/qr-pix.png
